.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.title {
  font-size: 2.0em;
  margin-bottom: 20px;
}

.potato {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  margin-top: 30px;
}

.HoroName {
  font-size: 1.0em; /* Larger font size for the name */
  margin-bottom: 10px;
}

.score {
  font-size: 1.5em; /* Medium font size for the score */
  margin-bottom: 20px;
}

.Detail {
  font-size: 0.8em; /* Smaller font size for the detail */
  margin-bottom: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
